<div class="text-center mb-5 mt-5">
    <div class="display-6">Fornecedor</div>
    <div class="mb-5 mt-5"><button (click)="open(CadastrarFornecedor)" type="button" class="btn btn-outline-dark me-2"
            data-bs-toggle="modal" data-bs-target="#staticBackdrop">Cadastrar</button></div>
</div>

<div class="d-flex justify-content-center align-items-center border-top">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Email</th>
                <th scope="col">CNPJ</th>
                <th scope="col">Telefone</th>
                <th scope="col">Endereço</th>
                <th scope="col">Estado</th>
                <th scope="col">Cidade</th>
                <th scope="col" class="teste">Opções</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let fornecedor of fornecedores">
                <td scope="row">{{fornecedor.id}}</td>
                <td>{{fornecedor.name}}</td>
                <td>{{fornecedor.email}}</td>
                <td>{{ fornecedor.cnpj | cnpjMask }}</td>
                <td>{{fornecedor.telefone | telefoneMask }}</td>
                <td>{{fornecedor.endereco}}</td>
                <td>{{fornecedor.estado}}</td>
                <td>{{fornecedor.cidade}}</td>
                <td>
                    <button (click)="open(EditarFornecedor)" class="btn btn-outline-primary me-1"
                        (click)="edit(fornecedor)">Editar</button>
                    <button class="btn btn-outline-danger" (click)="delete(fornecedor)">Excluir</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<ng-template #CadastrarFornecedor lg-modal>
    <div class="text-center mt-3">
        <h4 class="display-6">Cadastrar Fornecedor</h4>
    </div>
    <div class="modal-body">
        <div class="row modal-footer">
            <div class="col-8 m-auto">

                <form [formGroup]="formGroupFornecedor">


<div class="d-flex justify-content-between align-items-center">
                <div>
            
                
                    <div class="mb-3">
                        <label for="name" class="form-label">Denominação Social:</label>
                        <input type="text" formControlName="name" class="form-control" id="name"
                            placeholder="Nome aqui.">

                        <div *ngIf="submitted && name.invalid">
                            <small class="text-danger">Nome Invalido! (mínimo 3 characters)</small>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email:</label>
                        <input type="text" formControlName="email" class="form-control" id="email"
                            placeholder="Email aqui.">

                        <div *ngIf="submitted && email.invalid">
                            <small class="text-danger">Email Invalido!</small>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="cnpj" class="form-label">CNPJ:</label>
                        <input type="text" formControlName="cnpj" class="form-control" id="cnpj"
                            placeholder="CNPJ aqui." mask="{{ cnpjMask }}">

                        <div *ngIf="submitted && cnpj.invalid">
                            <small class="text-danger">CNPJ Invalido!</small>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="telefone" class="form-label">Telefone:</label>
                        <input type="text" formControlName="telefone" class="form-control" id="telefone"
                            placeholder="Telefone aqui." mask="{{ telefoneMask }}">

                        <div *ngIf="submitted && telefone.invalid">
                            <small class="text-danger">Telefone Invalido!</small>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="endereco" class="form-label">Endereço:</label>
                        <input type="text" formControlName="endereco" class="form-control" id="endereco"
                            placeholder="Endereço aqui.">

                        <div *ngIf="submitted && endereco.invalid">
                            <small class="text-danger">Campo obrigatório!</small>
                        </div>
                    </div>
                    




</div>
<div>





                    <div class="mb-3">
                        <label for="cidade" class="form-label">Tipo de Fornecedor:</label>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="R1">
                            <label class="form-check-label" for="R1">
                                Pessoa Física
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="R2">
                            <label class="form-check-label" for="R2">
                                Pessoa Jurídica
                            </label>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="cidade" class="form-label">Tipos de produtos/serviços oferecidos pelo
                            fornecedor:</label>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="C1">
                            <label class="form-check-label" for="C1">
                                Produtos físicos
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="C2">
                            <label class="form-check-label" for="C2">
                                Produtos digitais
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="C3">
                            <label class="form-check-label" for="C3">
                                Serviços de consultoria
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="C4">
                            <label class="form-check-label" for="C4">
                                Serviços de manutenção
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="C5">
                            <label class="form-check-label" for="C5">
                                Serviços de suporte técnicos
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" [(ngModel)]="mostrarInput" id="C6"
                                (click)="checkboxClicked()">
                            <label class="form-check-label" for="C6">
                                Outros
                            </label>
                        </div>

                        <div *ngIf="mostrarInput">
                            <input type="text" formControlName="campoOutros" class="form-control" id="campoOutros"
                                placeholder="Digite aqui.">
                        </div>
                    </div>





                </div>
            </div>

                    
                </form>
            
            








            </div>
        </div>
    </div>
    <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-secondary" (click)="fecharModal()">Fechar</button>
        <button type="button" class="btn btn-primary" (click)="save()">Salvar</button>
    </div>
</ng-template>

<ng-template #EditarFornecedor let-modal>
    <div class="text-center mt-3">
        <h4 class="display-6">Editar Fornecedor</h4>
    </div>
    <div class="modal-body">
        <div class="row modal-footer">
            <div class="col-8 m-auto">
                <form [formGroup]="formGroupFornecedor">
                    <div class="mb-3">
                        <label for="name" class="form-label">Denominação Social:</label>
                        <input type="text" formControlName="name" class="form-control" id="name"
                            placeholder="Nome aqui.">

                        <div *ngIf="submitted && name.invalid">
                            <small class="text-danger">Nome Invalido!</small>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email:</label>
                        <input type="text" formControlName="email" class="form-control" id="email"
                            placeholder="Email aqui.">
                    </div>
                    <div class="mb-3">
                        <label for="cnpj" class="form-label">CNPJ:</label>
                        <input type="text" formControlName="cnpj" class="form-control" id="cnpj"
                            placeholder="CNPJ aqui." mask="{{ cnpjMask }}">

                        <div *ngIf="submitted && cnpj.invalid">
                            <small class="text-danger">CNPJ Invalido!</small>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="telefone" class="form-label">Telefone:</label>
                        <input type="text" formControlName="telefone" class="form-control" id="telefone"
                            placeholder="Telefone aqui." mask="{{ telefoneMask }}">

                        <div *ngIf="submitted && telefone.invalid">
                            <small class="text-danger">Telefone Invalido!</small>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="endereco" class="form-label">Endereço:</label>
                        <input type="text" formControlName="endereco" class="form-control" id="endereco"
                            placeholder="Endereço aqui.">
                    </div>
                    <div class="mb-3">
                        <label for="cidade" class="form-label">Cidade:</label>
                        <input type="text" formControlName="cidade" class="form-control" id="cidade"
                            placeholder="Cidade aqui.">
                    </div>
                    <div class="mb-3">
                        <label for="estado" class="form-label">Estado:</label>
                        <select class="form-select" aria-label="Default select example" formControlName="estado"
                            id="estado">
                            <option value="" disabled selected>Escolher</option>
                            <option value="Acre">Acre</option>
                            <option value="Alagoas">Alagoas</option>
                            <option value="Amapá">Amapá</option>
                            <option value="Amazonas">Amazonas</option>
                            <option value="Bahia">Bahia</option>
                            <option value="Ceará">Ceará</option>
                            <option value="Distrito Federal">Distrito Federal</option>
                            <option value="Espírito Santo">Espírito Santo</option>
                            <option value="Goiás">Goiás</option>
                            <option value="Maranhão">Maranhão</option>
                            <option value="Mato Grosso">Mato Grosso</option>
                            <option value="Mato Grosso do Sul">Mato Grosso do Sul</option>
                            <option value="Minas Gerais">Minas Gerais</option>
                            <option value="Pará">Pará</option>
                            <option value="Paraíba">Paraíba</option>
                            <option value="Paraná">Paraná</option>
                            <option value="Pernambuco">Pernambuco</option>
                            <option value="Piauí">Piauí</option>
                            <option value="Rio de Janeiro">Rio de Janeiro</option>
                            <option value="Rio Grande do Norte">Rio Grande do Norte</option>
                            <option value="Rio Grande do Sul">Rio Grande do Sul</option>
                            <option value="Rondônia">Rondônia</option>
                            <option value="Roraima">Roraima</option>
                            <option value="Santa Catarina">Santa Catarina</option>
                            <option value="São Paulo">São Paulo</option>
                            <option value="Sergipe">Sergipe</option>
                            <option value="Tocantins">Tocantins</option>
                        </select>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-secondary" (click)="fecharModal()">Fechar</button>
        <button type="button" class="btn btn-primary" (click)="save()">Salvar</button>
    </div>
</ng-template>