<div class="text-center mb-5 mt-5">
    <div class="display-6">Clientes</div>
    <div class="mb-5 mt-5"><button (click)="open(CadastrarCliente)" type="button" class="btn btn-outline-dark me-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Cadastrar</button></div>
</div>

<div class="d-flex justify-content-center align-items-center border-top">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Email</th>
                <th scope="col">CPF</th>
                <th scope="col">Genero</th>
                <th scope="col" class="teste">Opções</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cliente of clientes">
                <td scope="row">{{cliente.id}}</td>
                <td>{{cliente.name}}</td>
                <td>{{cliente.email}}</td>
                <td>{{cliente.cpf | cpfMask}}</td>
                <td>{{cliente.genero}}</td>
                <td>
                    <button (click)="open(EditarCliente)" class="btn btn-outline-primary me-1"
                        (click)="edit(cliente)">Editar</button>
                    <button class="btn btn-outline-danger" (click)="delete(cliente)">Excluir</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<ng-template #CadastrarCliente let-modal>
    <div class="text-center mt-3">
        <h4 class="display-6">Cadastrar Clientes</h4>
    </div>
    <div class="modal-body">
        <div class="row modal-footer">
            <div class="col-8 m-auto">
                <form [formGroup]="formGroupCliente">
                    <div class="mb-3">
                        <label for="name" class="form-label">Nome:</label>
                        <input type="text" formControlName="name" class="form-control" id="name" placeholder="Nome aqui.">

                        <div *ngIf="submitted && name.invalid">
                            <small class="text-danger">Nome Invalido!</small>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email:</label>
                        <input type="text" formControlName="email" class="form-control" id="email"
                            placeholder="Email aqui.">
                            <div *ngIf="submitted && email.invalid">
                                <small class="text-danger">Nome Invalido!</small>
                            </div>
                    </div>
                    <div class="mb-3">
                        <label for="cpf" class="form-label">CPF:</label>
                        <input type="text" formControlName="cpf" class="form-control" id="cpf"
                            placeholder="CPF aqui." mask="{{ cpfMask }}">
                            <div *ngIf="submitted && cpf.invalid">
                                <small class="text-danger">Nome Invalido!</small>
                            </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Genero:</label>
                        <div class="form-check">
                            <input formControlName="genero" name="flexRadioDefault" class="form-check-input" type="radio"
                                id="R1" value="Masculino">
                            <label class="form-check-label" for="R1">
                                Masculino
                            </label>
                        </div>
                        <div class="form-check">
                            <input formControlName="genero" name="flexRadioDefault" class="form-check-input" type="radio"
                                id="R2" value="Feminino">
                            <label class="form-check-label" for="R2">
                                Feminino
                            </label>
                        </div>
                        <div class="form-check">
                            <input formControlName="genero" name="flexRadioDefault" class="form-check-input" type="radio"
                                id="R2" value="Prefiro não responder">
                            <label class="form-check-label" for="R2">
                                Prefiro não responder
                            </label>
                        </div>

                        <div *ngIf="submitted && genero.invalid">
                            <small class="text-danger">Selecione uma opção!</small>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-secondary" (click)="fecharModal()">Fechar</button>
        <button type="button" class="btn btn-primary" (click)="save()">Salvar</button>
    </div>
</ng-template>

<ng-template #EditarCliente let-modal>
    <div class="text-center mt-3">
        <h4 class="display-6">Editar Cliente</h4>
    </div>
    <div class="modal-body">
        <div class="row modal-footer">
            <div class="col-8 m-auto">
                <form [formGroup]="formGroupCliente">
                    <div class="mb-3">
                        <label for="name" class="form-label">Nome:</label>
                        <input type="text" formControlName="name" class="form-control" id="name" placeholder="Nome">

                        <div *ngIf="submitted && name.invalid">
                            <small class="text-danger">Nome Invalido!</small>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email:</label>
                        <input type="text" formControlName="email" class="form-control" id="email"
                            placeholder="Email">
                            <div *ngIf="submitted && email.invalid">
                                <small class="text-danger">Nome Invalido!</small>
                            </div>
                    </div>
                    <div class="mb-3">
                        <label for="cpf" class="form-label">CPF:</label>
                        <input type="text" formControlName="cpf" class="form-control" id="cpf"
                            placeholder="CPF" mask="{{ cpfMask }}">
                            <div *ngIf="submitted && cpf.invalid">
                                <small class="text-danger">Nome Invalido!</small>
                            </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Genero:</label>
                        <div class="form-check">
                            <input formControlName="genero" name="flexRadioDefault" class="form-check-input" type="radio"
                                id="R1" value="Masculino">
                            <label class="form-check-label" for="R1">
                                Masculino
                            </label>
                        </div>
                        <div class="form-check">
                            <input formControlName="genero" name="flexRadioDefault" class="form-check-input" type="radio"
                                id="R2" value="Feminino">
                            <label class="form-check-label" for="R2">
                                Feminino
                            </label>
                        </div>
                        <div class="form-check">
                            <input formControlName="genero" name="flexRadioDefault" class="form-check-input" type="radio"
                                id="R2" value="Prefiro não responder">
                            <label class="form-check-label" for="R2">
                                Prefiro não responder
                            </label>
                        </div>

                        <div *ngIf="submitted && genero.invalid">
                            <small class="text-danger">Selecione uma opção!</small>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-secondary" (click)="fecharModal()">Fechar</button>
        <button type="button" class="btn btn-primary" (click)="save()">Salvar</button>
    </div>
</ng-template>